<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h1>
              <%= gravatar_for @user %>
              <%= @user.name %>
            </h1>
            <a href="<%= show_follow_path(@following_users) %>">
               <strong id="following" class="user">
                  <%= @user.following_relationships.count %>
               </strong>
               following
            </a>
            <a href="<%= show_follow_path(@follower_users) %>">
               <strong id="follower" class="user">
                  <%= @user.follower_relationships.count %>
               </strong>
               follower
            </a>
        </section>
    </aside>
    <div class="col-md-8">
        <%= render 'follow_form' if logged_in? %>
        <% if @user.microposts.any? %>
          <h3>Microposts (<%= @user.microposts.count %>)</h3>
          <ol class="microposts">
              <%= render @microposts %>
          </ol>
        <% end %>
    </div>
</div>